.quantity-container{
  padding:6px;
  margin-left: 10px;
  width:100px;
}
.ticket-container{
  padding:6px;
  width:160px;
  padding-left: 20px;
  margin-left: 40px;
 
}
.heading{
  margin-left:380px;
  margin-top:0px;
}
.layout-container1{
  display: flex;
  /* justify-content: center;
  flex-wrap: wrap; */
  width:40%;
  
 
}
.btn-container{
  margin-top: 40px;
}
.way-booking-con{
  background-color: aqua;
  width:60%;
  height:30px;
  padding-left: 30px;
  margin-left: 40px;
  /* border-style: 1px solid balck;
  border-top-right-radius:10px;
  border-top-left-radius:10px; */

}
/* .top-container{
  border-style: solid;
  border-bottom: none;

} */
.up-arrow{
  width:60px;
  height:60px;
  margin-left:100px;
  margin-left:430px;
  margin-bottom: 0px;
}
.layout-container{
  display: flex;
  /* justify-content: center;
  flex-wrap: wrap; */
  width:70%;
  overflow-y: scroll;
  margin-top:30px;

  /* border-style: solid;
  border-top:none;
  */
}
ul{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
}
.box1{
  border:2px solid grey;
  width:20px;
  height:20px;
  background-color: white;
 
  margin-right:20px;
}
.box2{
  border:2px solid grey;
  width:20px;
  height:20px;
  background-color: grey;
  margin-right: 15px;
 
}
.layout1{
  display: flex;

}

.box3{
  border:2px solid grey;
  width:20px;
  height:20px;
  background-color:green;
  margin-right:15px;
   
}
.bottom-container{
  display: flex;
 

  

}
.main-container{
  height:100vh;
  display: flex;
  flex-direction: column;
}
.conatiner1{
  width:80%;
}

.con1{
  display: flex;
  align-items: center;
  justify-content:space-between; 
  width:100%;
  text-align:right;
 
}
.key-heading{
  font-family: "Roboto";
  font-size: 20px;
}
.description{
  font-size: 20px;
  /* margin-left: 10px; */
  text-align:left;
  max-width: 150px;
  font-family:"Roboto";
  
}
.proceed-btn{
  background-color:red;
  color:white;
  padding:10px;
  font-size: 10px;
  display: flex;
  border-width: 0px;
  border-radius: 5px;
  

}
.btn-container{
  display: flex;
  align-items: flex-end;
  justify-content:center;
  margin-top:30px;
}
.key-container{
  display:flex;
  flex-direction: column;
  margin-left: 30px;
  
}